/* =========================
   BODY
========================= */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
}

/* =========================
   CONTAINER
========================= */
.container {
    max-width: 850px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* =========================
   TEXT
========================= */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #555;
}

/* =========================
   FORM GRID
========================= */
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

/* =========================
   INPUT
========================= */
input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

/* =========================
   BUTTON
========================= */
button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* =========================
   RESULT BOX
========================= */
.result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

/* NORMAL */
.normal {
    background: #d4edda;
    color: #155724;
}

/* ANOMALI */
.anomali {
    background: #f8d7da;
    color: #721c24;
}

/* =========================
   TABLE
========================= */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #007BFF;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* garis zebra */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* =========================
   CHART
========================= */
canvas {
    margin-top: 20px;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 600px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
